doctype html
head
	title Alexey Kopievskiy | wings-parity
	meta(charset='utf-8')
	meta(name='author', content='Alexey Kopievskiy')
	meta(name='description', content='Wings parity psd2html')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	base(href='./assets/')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
	link(href='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css', rel='stylesheet', type='text/css')
	link(href='css/style.css', rel='stylesheet', type='text/css')
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
